<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../static/css/coeval.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="../static/js/bootstrap.min.js"></script>
        <script src="../static/js/coeval.js"></script>
        <title>Sistema de Coevaluaciones DCC</title>
    </head>
    <body>
        <!-- Barra superior -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-3">
            <a class="navbar-brand" href="/">Sistema de Coevaluaciones DCC</a>
            <!-- Al achicar la pantalla, el menú se oculta y se vuelve desplegable mediante este botón. -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-navicon"></i>
                </span>
            </button>

            <!-- Menú superior-derecha -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="../perfil">{{ usuario }}</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="../out">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- FIN Barra superior -->

        {% if rol == 'alumno' %}
        <!-- Cuerpo -->
        <div class="container"> <!-- Contenedor responsivo de Bootstrap, se adapta a la pantalla usando columnas. -->

            <h3 class="d-inline-block page-title">Ficha de Curso</h3>
            <h5 class="mb-3">
                <div class="cargos cargos-alumno"></div>
                {{ codigo }}-{{ seccion }} {{ nombre }} {{ anho }},
                {% if semestre == 1 %}
                    Otoño
                {% elif semestre == 2 %}
                    Primavera
                {% else %}
                    Verano
                {% endif %}

            </h5>
            <hr/>
            <!-- Tablas de resumen -->
            <div class="row">
                <!-- Tabla de coevaluaciones -->
                <div class="col-md-10 offset-1">
            		<h4 class="d-inline-block mt-1">Tus coevaluaciones del curso</h4>

                    <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                        <table class="table table-coeval-curso table-striped table-hover mb-0"> <!-- Tabla -->
                            <!-- Encabezados de tabla (Table Headers) -->
                            <thead class="thead-light">
                                <tr> <!-- Fila (Table Row) -->
                                    <th class="th-fecha">Fecha inicio</th>
                                    <th class="th-titulo">Nombre</th>
                                    <th class="th-fecha">Fecha límite</th>
                                    <th class="th-estado">Estado</th>
                                    <th class="th-iconos"></th>
                                </tr>
                            </thead>

                            <!-- Cuerpo de tabla (Table Data) -->
                            <tbody>
                                {% for c in coevs %}

                                {%  if c.id_coev.status == 1 %}
                                <tr class="tr-{{ c.contestada|yesno:"no,pendiente"}}">
                                    {% else %}
                                    <tr class="tr-no"> <!-- Fila destacada como Pendiente -->
                                    {% endif %}

                                    <!-- Fecha de inicio -->
                                    <td class="td-fecha">
                                        {{c.id_coev.fecha_inicio|time:"H:i"  }} {{c.id_coev.fecha_inicio|date:"d/m/y" }}
                                    </td>
                                    <!-- Título de coevaluación -->
                                    <td>{{c.id_coev.nombre}}</td>
                                    <!-- Fecha de término -->
                                    <td class="td-fecha">
                                        {{c.id_coev.fecha_termino|time:"H:i"  }} {{c.id_coev.fecha_termino|date:"d/m/y" }}
                                    </td>
                                    <!-- Estado -->
                                    <td>{% if c.id_coev.status == 1 %} <!--abierta -->
                                            {% if c.contestada %}
                                                Contestada</td><td></td>
                                            {% else %}
                                                Pendiente</td>
                                                 <td class="td-icon">
                                        <a href="/coevaluacion?coev={{c.pk|urlencode }}" title="Responder coevaluación"><img class="clickable-icon answer-icon wiggle" src="../static/icon/answer-icon.png" alt="Responder coevaluación" width="28" height="28"></a>
                                    </td>
                                            {% endif %}

                                        {%  elif c.id_coev.status == 2 %} <!--cerrada -->
                                             Cerrada</td>
<td></td>

                                         {%  elif c.id_coev.status == 3 %} <!--Publicada -->
                                             Publicada</td>
                                        <td></td>
                                        {% endif %}
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        {% else %}

        <!-- Cuerpo -->
        <div class="container"> <!-- Contenedor responsivo de Bootstrap, se adapta a la pantalla usando columnas. -->

            <h3 class="d-inline-block page-title">Ficha de Curso</h3>
            <h5 class="mb-3">
                <div class="cargos cargos-{{ rol }}"></div>
                {{ codigo }}-{{ seccion }} {{ nombre }} {{ anho }},
                {% if semestre == 1 %}
                    Otoño
                {% elif semestre == 2 %}
                    Primavera
                {% else %}
                    Verano
                {% endif %}
            </h5>
            <hr/>
            <!-- Tablas de resumen -->
            <div class="row">
                <!-- Tabla de coevaluaciones -->
                <div class="col-md-10 offset-1 mb-5">
            		<h4 class="d-inline-block mt-1">Coevaluaciones del curso</h4>
                    <form method="post" action="{% url "nuevaCoevaluacion" curso.pk %}">
                        {% csrf_token %}
                        <input type="submit" id="add-coev-btn" class="btn btn-primary-custom float-right" value="Agregar coevaluacion">
                    </form>


                    <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                        <table class="table table-coeval-curso table-striped table-hover mb-0"> <!-- Tabla -->
                            <!-- Encabezados de tabla (Table Headers) -->
                            <thead class="thead-light">
                                <tr> <!-- Fila (Table Row) -->
                                    <th class="th-fecha">Fecha inicio</th>
                                    <th class="th-titulo">Nombre</th>
                                    <th class="th-fecha">Fecha límite</th>
                                    <th class="th-estado">Estado</th>
                                    <th class="th-iconos"></th>
                                </tr>
                            </thead>

                            <!-- Cuerpo de tabla (Table Data) -->

                            <tbody>
                                {% for c in coevs %}
                                <tr class="tr-{{ c.contestada|yesno:"no,pendiente"}}"> <!-- Fila destacada como Pendiente -->
                                    <!-- Fecha de inicio -->
                                    <td class="td-fecha">
                                        {{c.fecha_inicio|time:"H:i"  }} {{c.fecha_inicio|date:"d/m/y" }}
                                    </td>
                                    <!-- Título de coevaluación -->
                                    <td>{{c.nombre}}</td>
                                    <!-- Fecha de término -->
                                    <td class="td-fecha">
                                        {{c.fecha_termino|time:"H:i"  }} {{c.fecha_termino|date:"d/m/y" }}
                                    </td>
                                    <!-- Estado -->
                                    {% if c.status == 1 %} <!--abierta -->
                                          <td>Abierta
                                                                                </td>
<td></td>
                                        {%  elif c.status == 2 %} <!--cerrada -->
                                           <td>  Cerrada
                                                                                </td>
                                    <td class="td-icon">
                                        <a href="#" title="Publicar resultados"><img class="clickable-icon publish-icon wiggle" src="../static/icon/publish-icon.png" alt="Publicar resultados" width="28" height="28"></a>
                                    </td>
                                         {%  elif c.status == 3 %} <!--Publicada -->
                                           <td>  Publicada
                                        </td><td class="td-icon">
                                         <a href="#" title="Exportar resultados"><img class="clickable-icon export-icon" src="../static/icon/export-icon.png" alt="Exportar resultados" width="28" height="28"></a>
                                         </td>{% endif %}</tr>
                                {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            	<!-- FIN Tabla de coevaluaciones -->
            </div>
            <!-- FIN Tablas de resumen -->

            <!-- Gestión del curso -->
			<h4 class="d-inline-block mt-1 mb-0">Gestión del Curso</h4>
			<div class="d-inline-block ml-2">
            	<a href="#" class="small" title="Cargar información desde archivo"><img class="clickable-icon export-icon mb-1" src="../static/icon/load-data-icon.png" alt="Cargar información desde archivo" width="20" height="20">Cargar archivo...</a>
            </div>
			<hr/>
 <div class="row">
      {% for nombre in nombre_equipo %}



              <!-- Tabla de coevaluaciones -->
                <div class="col-md-5 offset-1 mb-3">

                    <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                        <table class="table table-coeval-curso table-striped table-hover mb-0"> <!-- Tabla -->
                            <!-- Encabezados de tabla (Table Headers) -->
                            <thead class="thead-light">
                                <tr> <!-- Fila (Table Row) -->
                                    <th >{{ nombre}}</th>
                                    {% for coev in coevs %}
                                    <th class="th-estado">{{ coev.nombre }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>

                            <!-- Cuerpo de tabla (Table Data) -->
                            <tbody>

                                    <!-- Nombre almuno -->

                                    {% for  equipo in equipos %}
                                    {% if equipo.nombre == nombre and equipo.actual == True %}
                                        <tr>
                                        <td class="td-fecha">
                                        {{ equipo.rut_alumno.get_full_name}}
                                        </td>
                                         <!-- Notas -->



                                        {% for coev in coevaluaciones %}
                                             <td>
                                            {% if coev.id_curso.rut == equipo.rut_alumno and coev.id_curso.id_curso == curso %}
                                                 {% for c in coevs %}
                                                     {%  if  c == coev.id_coev  %}
                                                         {{ coev.notapromedio }}
                                                     {% endif %}
                                                    {% endfor %}
                                             {% else %}


                                            {% endif %}

                                             </td>




                                        {% endfor %}


                                         </tr>
                                    {% endif %}
                                    {% endfor %}



                            </tbody>
                        </table>

                    </div>

                </div>
  {% endfor %}
          </div>

                <!-- FIN Sección de control -->
            </div>




        {% endif %}
            
    </body>
    </html>
        